{% extends "base.html" %}
{% block content %}
<section class="row contact">
  <div class="col-sm-12">
    <div class="row">
       <div class="banner"></div>
    </div>
  </div>
  <div class="container">
     <div class="col-sm-12">
       <div class="row">
          <div class="col-sm-12 header">
            <div class="row">
               <h4>Contact Us</h4>
               <div class="col-sm-4 col-xs-12">
                  <div class="row">
                    <div class="address">
                      <h3>Contact Us</h3>
                      <ul class="address-list">
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span>
                             Safdarjung Development Area, Block C 1, Bhim Nagri, Hauz Khas, New Delhi, Delhi 110016
                           </span>
                        </li>
                        <li>
                          <i class="fa fa-phone" aria-hidden="true"></i><span> 011 2656 3781</span>
                        </li>
                        <li>
                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                          <span>hello@bdsharma.com</span>
                        </li>
                        <li>
                          <i class="fa fa-skype" aria-hidden="true"></i>
                          <span>sayhello.bdsharma</span>
                        </li>
                      </ul>
                      <div class="social">
                        <ul class="list-inline">
                           <li><a href="javascript:void(0);" title="facebook">
                             <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a></li>
                           <li><a href="javascript:void(0);" title="Linkedin">
                             <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a></li>
                           <li><a href="javascript:void(0);" title="twitter">
                             <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a></li>
                           <li><a href="javascript:void(0);" title="Instagram">
                             <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a></li>
                       </ul>
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-sm-8 col-xs-12">
                  <div class="row">
                    
                     <div class="form">
                        <h3>Get In Touch</h3>
                        <p>Feel Freeto drop us a line below !</p>
                        <div class="name">
                           <div class="input-wrapper">
                              <input type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="email">
                           <div class="input-wrapper">
                              <input type="text" placeholder="Email">
                           </div>
                        </div>
                        <div class="message">
                           <div class="input-wrapper">
                              <textarea name="" id="" cols="30" rows="10">
                                say Hi !!!
                              </textarea>
                           </div>
                        </div>
                        <div class="button">
                          <button type="submit" class="submit-contact btn ">Say Hi !!</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</section>
{% endblock %}