{% extends "base.html" %}
{% block content %}
<section class="row">
<div class="col-sm-12">
 <div class="row">
      <!-- ===================================== Start =======-->
      <div class="carousel"> 
         <ul data-image="static/images/carousel/image1.jpeg, static/images/carousel/image2.jpeg " class="list-inline"></ul>                  
          </div>
      <!-- ===================================== End =========-->
      <!-- ===================================== Start =======-->
      <div class="container main-title">
         <div class="row">
            <div class="col-lg-7">
              <div class="row">
                    <h1>Creating Designs Of Any Complexlty</h1>
                    <p>Pri quas audiam virtute ut, case utamur, iisque accommodare an eam. </p>
              </div>
            </div>
            <div class="col-lg-5 more-about-project">
              <div class="row">                            
                  <a href="javascript:void();">
                    <i class="fa fa-caret-right arrow-left" aria-hidden="true"></i>
                    Learn More About Projects
                  </a>
              </div>
            </div>
         </div>
      </div>
      <!-- ===================================== End =========-->
      <!-- ===================================== Start =======-->
      <div class="container-fluid project-glimpse">                       
           <div class="row">
                <!-- main title start-->
               <div class="col-xs-12">
                   <div class="row main-home-banner">
                      <div class="col-sm-6 col-xs-12 main-home-banner-col-1">
                         <div class="row">
                          <div class="default item">
                          </div>
                          <div class="design hidden item"></div>
                          <div class="interior hidden item"></div>
                          <div class="renovation hidden item"></div>
                          <div class="exterior hidden item"></div>
                            
                            <i class="fa fa-caret-right arrow-left" aria-hidden="true"></i>
                         </div>
                      </div>
                      <div class="col-sm-6 col-xs-12 main-home-banner-col-2">
                        <div class="row">
                          <div class="default item">
                             <h2>We are global design, architecture, engineering and    planning firm</h2>
                              <p>
                                We apply innovative design solutions to enhance people’s residential wellbeing and to help workplaces succeed! All our team collaborates with our clients, from our office, which is located in Delhi. Our mission is to implement the outstanding design ideas and solutions for any project we’re working on… During that process we carefully combine client’s guidelines, technical possibilities, as well as the environmental issues. Engineering and interior design solutions that we deliver are usually born after a collaborative process.
                              </p>
                              <a href="about.html" class="btn btn-primary read-more"> Read More</a>
                          </div>
                          <div class="design hidden item">
                             <h4>Design</h4>
                         <p>
                           Legendos intellegam id usu, vide oporteat vix eu, id illud 
                           principes has. Nam tempor utamur gubergren no
                         </p>
                         <a href="javascript:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                          <div class="interior hidden item">
                            
                            <h4>Interior</h4>
                             <p>
                               Legendos intellegam id usu, vide oporteat vix eu, id illud 
                               principes has. Nam tempor utamur gubergren no
                             </p>
                             <a href="javascript:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                          <div class="renovation hidden item">
                             <h4>Building Renovation</h4>
                           <p>
                             Legendos intellegam id usu, vide oporteat vix eu, id illud 
                             principes has. Nam tempor utamur gubergren no
                           </p>
                           <a href="javascript:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                          <div class="exterior hidden item">
                            <h4>Exterios</h4>
                             <p>
                               Legendos intellegam id usu, vide oporteat vix eu, id illud 
                               principes has. Nam tempor utamur gubergren no
                             </p>
                             <a href="javascript:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 sub-menu">
                       <div class="row">
                        <!-- 1 start-->
                          <div class="col-sm-3 col-xs-12 list-outer" data-tab="interior">
                             <div class="row">
                                <span>Interior</span>
                                <i class="fa fa-caret-up " aria-hidden="true"></i>
                             </div>
                          </div>
                          <!--2 End-->
                          <!-- 2 start-->
                          <div class="col-sm-3 col-xs-12 list-outer" data-tab="design">
                             <div class="row">
                                <span>Design</span>
                                <i class="fa fa-caret-up " aria-hidden="true"></i>
                             </div>
                          </div>
                         <!--2 End-->
                         <!--3 start-->
                          <div class="col-sm-3 col-xs-12 list-outer" data-tab="exterior">
                             <div class="row">
                                <span>Exterior</span>
                                <i class="fa fa-caret-up " aria-hidden="true"></i>
                             </div>
                          </div>
                         <!--3 End-->
                         <!--4 start-->
                          <div class="col-sm-3 col-xs-12 list-outer" data-tab="renovation">
                             <div class="row">
                                <span>Renovation</span>
                                <i class="fa fa-caret-up " aria-hidden="true"></i>
                             </div>
                          </div>
                         <!--4 End-->
                       </div>
                      </div>                           
                    </div>
               </div>
               <!--main title End-->
           </div>
           <!-- ===================================== Start =======-->
           <div class="container projects-info">
             <div class="row">
                <div class="col-lg-4">
                  <div class="row">
                       <h1>Our Results</h1>
                  </div>
                </div>
                <div class="col-lg-8 more-about-project">
                  <div class="row">
                      <div class="details">
                        <i class="fa fa-caret-right arrow-left" aria-hidden="true"></i>
                        <ul class="list-inline">
                            <li>
                              <p class="numbers">
                                200
                                <span>Best Professionals</span>
                              </p>
                            </li>
                            <li>
                              <p class="numbers">
                                45
                                <span>Sucessful Projects</span>
                              </p>
                            </li>
                            <li>
                              <p class="numbers">
                                20
                                 <span>Partner Program</span>
                               </p>
                            </li>
                        </ul>
                      </div>
                  </div>
                </div>
             </div>
           </div>
           <!-- ===================================== End =========-->
           
      </div>
       

 </div>
</div>
</section>
{% endblock %}

