{% extends "base.html" %}
{% block content %}
<section class="row about management">
  <div class="col-sm-12">
    <div class="row">
       <div class="banner"></div>
    </div>
  </div>
  <div class="container">
     <div class="col-sm-12">
       <div class="row">
        <div class="col-sm-12 header">
          <div class="row">
             <h4>About Us > Management</h4>
          </div>
        </div>
         <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/awards">Awards</a></li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="location.html">Locations</a></li>
              <li class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="/management">Management</a></li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="/sucess_story">Success Stories</a></li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="/team">Team</a></li>
            </ul>
         </div>
         <div class="col-sm-9 about-content">
           <div class="row">
              <h1>Our Management</h1>
              
           </div>
         </div>
       </div>
    </div>
  </div>
</section>
{% endblock %}
