{% load static %}
<!doctype html>
<html>
<head>
    <title>B.D Sharma Consulting</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1">
  

    <link rel="stylesheet" type="text/css" href="{% static 'fonts-css/css/font-awesome.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/lib/bootstrap/dist/css/bootstrap.min.css'  %}">
   
    <link rel="stylesheet" href="{% static 'styles/css/main.css' %}">
 </head>
<body>
  <div class="alert alert-warning alert-dismissible fade in cookies hidden" role="alert"> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <strong>We uses cookies on this website. By continuing to explore our website, you acknowledge our use of cookies and consent to the same.</strong>
       <a href="javascript:void(0);" class="btn btn-primary ok-set-cookie">ok</a>
  </div>
    <div class="container-fluid" id="bdsharma">
          <header class="row">
              <div class="container">
                  <div class="row">
                        <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 logo">
                            <div class="row">
                                <a href="/"><span>B.D Sharma</span> <label for="">Consulting</label></a>
                                <div id="nav-icon2">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                            </div>
                        </div>  
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 navigation">
                            <div class="row">
                                <ul class="list-inline">
                                  <li><a href="/"  data-nav="/">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>Home</a>
                                  </li>
                                  <li><a href="/about" data-nav="about">
                                     <i class="fa fa-caret-down" aria-hidden="true"></i>About Us</a>
                                   </li>
                                  <li><a href="/service" data-nav="service">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>Services</a>
                                  </li>
                                  <li><a href="/project" data-nav="project">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>Projects</a>
                                  </li>
                                  <li><a href="/contact" data-nav="contact">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>Contacts</a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                  </div>    
             </div>
         </header>
      <!-- ===================================== Start =======-->
        {% block content %}
        
        {% endblock content %}

      <!-- ===================================== End =========-->
      <footer class="row">
         <div class="footer-top">
            <!--====================footer nav=================-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                          <h3>Who We Are ?</h3>
                          <h4></h4>
                          <p></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                          <h3>Why Choose Us ?</h3>                          
                           <ul class="list-unstyled">
                             <li>
                              <i class="fa fa-caret-right" aria-hidden="true"></i>We create great Work for you.
                             </li>
                             <li>
                             <i class="fa fa-caret-right" aria-hidden="true"></i> We are skilled to fulfill your needs
                            </li>
                             <li>
                              <i class="fa fa-caret-right" aria-hidden="true"></i>We belives to delivers awsome work.
                             </li>
                             <li>
                              <i class="fa fa-caret-right" aria-hidden="true"></i>Client's happy that's how we care.
                            </li>
                           </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <h3>Testimonial</h3>
                            <div class="">
                                <p>
                                  
                                </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-nav">
                        <div class="row">
                            <h3>Our Services</h3>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);" class="active">Home</a></li>
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);">About us</a></li>
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);">Services</a></li>
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);">Testimonial</a></li>
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);">Career</a></li>
                              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="javascript:void(0);">Our Work</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================footer nav End=================-->


           <!--====================Policy & rights=================-->
            <div class="policy">
                 <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="row">
                              <ul class="list-inline">
                                <li>
                                    <span>
                                        B.D Sharma consulting 
                                        <i class="fa fa-copyright" aria-hidden="true"></i> 2017
                                    </span>
                                </li>
                                <li><a href="javascript:void(0);">Privicy Policy</a></li>
                              </ul>
                          </div>
                      </div>
                    </div>
                 </div>
            </div>
            <!--====================Policy & rights=================-->

            <div class="social">
                 <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-4 col-sm-push-8 quick-contact">
                           <div class="row">
                              <a href="javascript:void(0);" class="btn"  data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                              <a href="javascript:void(0);" 
                               data-container="body"
                               data-toggle="popover"
                               data-placement="top"
                               data-content="Mobile:- +91-9999999999">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                  </a>

                           </div>
                        </div>
                        <div class="xs-12 col-sm-8 col-sm-pull-4">
                           <di class="row">
                              <ul class="list-inline">
                                 <li><a href="javascript:void(0);" title="facebook">
                                   <i class="fa fa-facebook" aria-hidden="true"></i>
                                 </a></li>
                                 <li><a href="javascript:void(0);" title="Linkedin">
                                   <i class="fa fa-linkedin" aria-hidden="true"></i>
                                 </a></li>
                                 <li><a href="javascript:void(0);" title="twitter">
                                   <i class="fa fa-twitter" aria-hidden="true"></i>
                                 </a></li>
                                 <li><a href="javascript:void(0);" title="Instagram">
                                   <i class="fa fa-instagram" aria-hidden="true"></i>
                                 </a></li>
                               </ul>
                           </div>
                           </di>
                    </div>
                 </div>
            </div>
            <!--====================Social End=================-->
         </div>
      </footer>
      
       <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h4>Welcome to B.D Sharma Consulting</h4>
                <p>Signup for newsletter updated on B.D sharma consulting</p>
                <form action="" name="newsletter">
                  <input type="text" name="email" class="email">
                  <input type="submit" class="submit">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end-->
    </div><!-- End of fluid container-->
    
    <script data-main="{% static 'styles/scripts/main' %}" src="{% static 'styles/lib/requirejs/require.js' %}" ></script>
</body>
</html>