{% extends "base.html" %}
{% block content %}

<section class="row about">
  <div class="col-sm-12">
    <div class="row">
       <div class="banner"></div>
    </div>
  </div>
  <div class="container">
     <div class="col-sm-12">
       <div class="row">
        <div class="col-sm-12 header">
          <div class="row">
             <h4>About Us</h4>
          </div>
        </div>
         <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/awards">Awards</a></li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/location">Locations</a></li>
                      <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/management">Management</a></li>
                      <li class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/sucess_story">Success Stories</a>
                      </li>
                      <li><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/team">Team</a></li>
            </ul>
         </div>
         <div class="col-sm-9 about-content">
           <div class="row">
              <h1>About Our Company</h1>
              <p><strong>We Offer</strong></p>
              <p>                        
                We offer process and meaning.We offer service prepositions by design solutions. During process of Co-creation our team ensures confidence, to better off in long term.
              </p>
              <p><strong>Belief</strong></p>
              <p>
                
                Moral validity of organization to operate in the profession as long as we have fair mechanism for contributing to the profession of architecture with , opportunity for partnership that results to be better off in lifetime.
              </p>
              <p><strong>Focus</strong></p>
              <p>
                
                Focus in these principles provides us a moral compass to gauge our actions in the organization. Our principles make profession more appealing as a life pursuit and allow us to make stronger contribution to the profession.
              </p>
              <p><strong>Principal</strong></p>
              <p>
                
                Firm strive to develop relationship with customers ( internal and external as well ) with long term perspective. This firm thus always looks for the best interest of the customer and protects customers long term well-being.
              </p>
              <p>
                 <strong>
                   The firm believes , job in hand is opportunity for value creation process for our capability ( skill & knowledge) and experience.
                 </strong>
              </p>
           </div>
         </div>
       </div>
    </div>
  </div>
</section>

{% endblock %}